.hero-section {
  padding: 124px 0;
  background: linear-gradient(to bottom, black, white);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  @media screen and (min-width: $bp-tablet) {
    padding: 272px 0;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background: linear-gradient(to bottom, black, white);
  }

  &__title {
    margin-bottom: 48px;
    color: var(--color-primary-light);
    text-align: center;
    font-size: 67px;
    line-height: 1;
    font-weight: 900;

    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 0;
      font-size: 128px;
      line-height: 1.5;
    }
  }

  &__button {
    margin: 0 auto;

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }
}
